* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
    background: #141922;
}

/* UTILITY */
.padding-top {
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: currentColor
}


h1, h2, h3 {
    color: #fff;
    font-weight: bold;
}

li {
    list-style: none;
}

.main-content {
    height: calc(100vh - 80px);
    display: flex;
}

/* HEADER */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.upgrade h3 {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 30px;
    min-width: 300px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 60px;

}

/* SIDEBAR */
.sidebar {
    flex-basis: 250px;
    background: #000;
    padding: 25px;
    overflow: auto;
}

.side-menu {
    height: calc(100% - 80px);
}

.side-menu img {
    width: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
}


.side-menu .logo img {
    width: 150px;
}

.side-menu ul li a {
    display: flex;
    align-items: center;
}

.playlist {
    flex-grow: 2;
}

.playlist .square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #1d1d1d;
    font-size: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.new-play {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.playlist .new-play .create {
    margin-left: 10px;
}

.side-bottom {
    height: 80px;
}

.side-bottom img{
   width: 25px;
   margin-right: 10px;
}


.side-bottom .download {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #808080;
}


/* CONTENT */
.content {
    position: relative;
    flex-grow: 1;
}

.content .scrollable {
    padding: 100px 15px 0;
    overflow-y: auto;
    height: 100% ;
}

.title {
    line-height: 50px;
}

.title ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.title ul li {
    margin-left: 20px;
}

/* ALBUM */
.album-content {
    margin-top: 15px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.album-list .album {
    flex-basis: calc(100% / 6 - 15px);
    margin: 20px 15px 20px 0;
    text-align: center;
    line-height: 30px;
}

.rounded {
    border-radius: 50%;
}

/* PLAYER */
.player {
    height: 100px;
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cover,
.tools {
    flex-basis: 250px;
}

/* PLAYER LEFT */
.cover {
    display: flex;
    align-items: center;
}

.cover img {
    width: 60px;
    margin-right: 5px;
}



/* PLAYER CENTER */
.music-player {
    width: 50%;
}

.music-player .icon-player {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.player i {
 padding: 0 10px;
 font-size: 20px;
}

.music-player .icon-player .big {
    font-size: 40px;
}

.time-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.time-bar .bar {
    width: 80%;
    height: 5px;
    border: 1px solid #808080;
    border-radius: 20px;
    background: #808080;
}

.time-bar .bar .full-bar {
    width: 30%;
    height: 100%;
    background: #fff;
}

.tools {
    width: 400px;
    display: flex;
    align-items: center;
}

.tools .bar {
    width: 60%;
    height: 5px;
    border: 1px solid #808080;
    border-radius: 20px;
    background: #808080;
}

.tools .bar .full-bar {
    width: 50%;
    height: 100%;
    background: #fff;
}